In [1]:
import pandas as pd
import numpy as np

# Create a DataFrame with 1000 rows and 4 columns
df = pd.DataFrame({
    'X1': np.random.randint(-100, 501, size=1000),
    'X2': np.random.uniform(0, 1, size=1000),
    'X3': np.random.randint(0, 10, size=1000)
})

# Calculate the fourth column 'Y' using the given formula
df['Y'] = 5 * df['X1'] + 100 * df['X2'] - df['X3'] ** 2

df.head()

    X1        X2  X3            Y
0  140  0.160342   0   716.034154
1   89  0.921278   7   488.127849
2  420  0.745471   0  2174.547067
3  409  0.474618   6  2056.461779
4   93  0.184284   2   479.428356

In [2]:
df.to_csv('data.csv', index=False)

In [ ]:
if st.session_state.data is not None:
                    st.write("##")
                    st.markdown('<p class="section">Caract√©ristiques</p>', unsafe_allow_html=True)
                    st.write(' - Taille:', st.session_state.data.shape)
                    st.write(' - Nombre de valeurs:', st.session_state.data.shape[0] * st.session_state.data.shape[1])
                    st.write(' - Type des colonnes:', st.session_state.data.dtypes.value_counts())
                    st.write(' - Pourcentage de valeurs manquantes:', round(
                        sum(pd.DataFrame(st.session_state.data).isnull().sum(axis=1).tolist()) * 100 / (
                                st.session_state.data.shape[0] * st.session_state.data.shape[1]), 2),
                            ' % (', sum(pd.DataFrame(st.session_state.data).isnull().sum(axis=1).tolist()), ')')